body{
    
    background-image: url("../images/purplebg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ddd3ee;
}
.instruction{
    background-color: #ddd3ee;
    color:black;
    margin-left:25%;
    margin-right:25%;
    padding:20px;
    border-radius:  20px;
}

h1{
    text-align: center;
    padding:20px;

}

.message{
    display:flex;
    float:left;
    justify-content:space-around;
    align-items: center;
    border:1px solid black;
    height:80px;
    width:200px;
    border-radius: 4px;
    margin:20px;
    margin-left: 80px;
    text-emphasis: bold;
}

.crystals{
    clear: both;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.crystal{
    border:1px solid black;
    height:200px;
    width:200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
crystal:hover{
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    cursor:pointer;

}